<!-- new-arrivals.component.html -->
<div class="py-10 px-4 md:px-10 bg-white">
  <h2 class="text-3xl font-extrabold text-center mb-10">NEW ARRIVALS</h2>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 justify-center"
  >
    <!-- Card 1 -->
    @for (item of productsData(); track $index) {
      <div
        class="bg-white rounded-xl shadow-sm hover:shadow-md transition p-4 text-center"
      >
        <img
          src="{{ item.imageUrl[0] }}"
          alt="{{ item.category }}"
          class="mx-auto h-48 object-contain"
        />
        <p class="mt-4 font-medium text-gray-800">{{ item.name }}</p>
        <div
          class="flex items-center justify-center text-yellow-500 mt-1 text-sm"
        >
          ★ ★ ★ ★ ★ <span class="text-gray-600 ml-1">4.5/5</span>
        </div>
        <p class="mt-2 text-lg font-semibold text-black">
          {{ `$ ${item.offerPrice}` }}
        </p>
      </div>
    }
  </div>
  <div class="text-center mt-10">
    <button
      class="px-6 py-2 bg-white border border-gray-400 rounded-full hover:bg-gray-100 transition"
    >
      View All
    </button>
  </div>
</div>
