<div class="py-10 px-4 md:px-10 bg-white">
  <h2 class="text-3xl font-extrabold text-center mb-10">TOP SELLING</h2>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 justify-center"
  >
    @for (item of productsData(); track $index) {
      <div
        class="bg-white rounded-xl shadow-sm hover:shadow-md transition p-4 text-center"
      >
        <img
          src="{{ item.imageUrl[0] }}"
          alt="Vertical Striped Shirt"
          class="mx-auto h-48 object-contain"
        />
        <p class="mt-4 font-medium text-gray-800">{{ item.name }}</p>
        <div
          class="flex items-center justify-center text-yellow-500 mt-1 text-sm"
        >
          ★ ★ ★ ★ ★ <span class="text-gray-600 ml-1">5.0/5</span>
        </div>
        <div class="flex justify-center items-center space-x-2 mt-2">
          <p class="text-lg font-semibold text-black">${{ item.offerPrice }}</p>
          <p class="line-through text-gray-400 text-sm">${{ item.price }}</p>
          <span class="text-red-500 text-sm font-medium"
            >-{{
              calculateDiscountPercentage(item.price, item.offerPrice)
            }}%</span
          >
        </div>
      </div>
    }
  </div>
  <div class="text-center mt-10">
    <button
      class="px-6 py-2 bg-white border border-gray-400 rounded-full hover:bg-gray-100 transition"
    >
      View All
    </button>
  </div>
</div>
