<mat-toolbar>
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>shopping_bag</mat-icon>
      </button>
      <span>Online Shopping App</span>
    </div>

    <div style="display: flex; position: fixed; right: 10px; gap: 1rem">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>card_membership</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>redeem</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
